<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script -->
    <script src="{{ "/jquery/dist/jquery.min.js" | prepend: site.bower_path | prepend: site.baseurl }}"></script>
    <script src="{{ "/bootstrap-sass-official/assets/javascripts/bootstrap.js" | prepend: site.bower_path | prepend: site.baseurl }}"></script>
</head>
